/* Created by Artisteer v4.2.0.60623 */

.za-header, #za-header-bg, .za-layout-cell, .za-layout-wrapper, .za-footer, .za-nav, #za-hmenu-bg, .za-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.za-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.za-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#za-header-bg 
{
   display: none;
}

.za-hmenu>li, .za-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.za-hmenu, ul.za-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#za-hmenu-bg 
{
   display: none;
}

ul.za-hmenu>li:first-child {
   padding-right:1px;
}
ul.za-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='za-hmenu-separator');
}
ul.za-hmenu>li>span.za-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 39px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.za-hmenu>li:first-child>span.za-hmenu-separator
{
   display:none;
}

ul.za-hmenu ul{
   background-color: #EFF2F5 !important;
}

.za-content-layout, .za-content-layout-row, .za-layout-cell 
{
   display: block;
   zoom: 1;
}
.za-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.za-vmenu, ul.za-vmenu ul, ul.za-vmenu li{
   zoom: 1;
}

ul.za-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.za-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.za-search div>input[type="text"]
{
   width: 100%;
}

* html form.za-search>input[type="text"] 
{
   margin :0;
}

form.za-search
{
   zoom: 1;
}
.za-postheadericons span{
   zoom: 1;
}
.za-postcontent {
   height: 1%;
}

.za-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.za-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='za-sidebar1-bg' + (className.indexOf('za-sidebar1-fix') == -1 ? '' : ' za-sidebar1-bg-fix' ));
}

.za-sidebar1-bg 
{
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
   background-color: #D6DEE6;
}

.za-sidebar2 
{
   width: auto;
   float:none;
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='za-sidebar2-bg' + (className.indexOf('za-sidebar2-fix') == -1 ? '' : ' za-sidebar2-bg-fix' ));
}

.za-sidebar2-bg 
{
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
   background-color: #D6DEE6;
}

